<%# Config %>
<%# Margin Bottom %>
<% range = ((total + 1)/2).ceil - 1 %>
<% if index <= range %>
  <% margin_bottom = "mb-4r-ns" %>
<% else %>
  <% margin_bottom = "" %>
<% end %>
<%# Margin Right %>
<% if index != total %>
  <% margin_right = "mr-2r mr-0r-ns" %>
<% else %>
  <% margin_right = "mr-0r mr-0r-ns" %>
<% end %>
<%# End %>
<article data-load="film" class="ttf-cubic_bezier td-1s tp-all d-inline_block d-block-ns f-left-ns w-16r w-50p-ns <%= margin_right %> <%= margin_bottom %> ph-0r ph-1r-m ph-2r-l o-0 t-translateX4r t-translateY4r-ns">
  <a data-interaction="pickup" class="ttf-cubic_bezier td-0_3s tp-all t-translateY0 d-block ar ar-film mb-1r mb-2r-l bs-alpha lh-0" href="<%= film.href %>">
    <img class="ar-object" src="<%= film.image.src %>" alt="<%= film.image.alt %>">
  </a>
  <header class="ta-center">
    <h1 class="ma-0r mb-0_25r ff-lato fw-300 fs-1_125r c-black"><%= film.title %></h1>
    <h2 class="ma-0r ff-lato fw-300 fs-1_125r c-gray"><%= film.category %></h2>
  </header>
</article>
