<header data-load="hero" class="ttf-ease_in_out td-3s tp-opacity o-0 ta-center pt-8r pb-4r pv-8r-ns ph-1r ph-0r-l">
  <%# Component: Logo %>
  <%= partial("components/content/brand",
      :locals => {
        :logo => hero.brand.logo,
        :type => hero.brand.type
      })
  %>
  <%# Component: Subheader %>
  <%= partial("components/content/subheader",
      :locals => {
        :text => hero.subheader
      })
  %>
  <%# List: Icons %>
  <ul class="ma-0r pa-0r lst-none">
    <%# Config %>
    <% total = hero.icons.length - 1 %>
    <%# End %>
    <% hero.icons.each_with_index do |icon, index| %>
      <%# Config %>
      <% if index === 0 %>
        <% padding = "pr-1r" %>
      <% elsif index === total %>
        <% padding = "pl-1r" %>
      <% else %>
        <% padding = "ph-1r" %>
      <% end %>
      <%# End %>
      <li class="d-inline_block">
        <a data-interaction="fade" class="ttf-cubic_bezier td-0_3s tp-opacity o-1 d-table_cell va-middle h-2r <%= padding %>" href="<%= icon.href %>" <% if icon.target %>target="_blank"<% end %>>
          <%# Component: Icon %>
          <%= partial("components/content/icon",
              :locals => {
                :src => icon.src,
                :alt => icon.alt,
              })
          %>
        </a>
      </li>
    <% end %>
  </ul>
</header>
